<div class="container-fluid">
  <h1 class="text-center">All Active Users</h1>
  <hr>
  <div class="container-fluid">
  <div class="card" style="width: 18rem;float:left;margin-right:1%;margin-bottom: 1%;">
    <div class="card-body">
      <h5 class="card-title text-center">Alice</h5>
      <p class="card-text">Som make up the bulk of the card's content.</p>
      <button class="btn-danger btn">Follow </button> |
      <button class="btn-success btn">Profile</button>
    </div>
  </div>
    <div class="card" style="width: 18rem;float:left;margin-right:1%;margin-bottom: 1%;">
    <div class="card-body">
      <h5 class="card-title text-center">Bob</h5>
      <p class="card-text">Som make up the bulk of the card's content.</p>
      <button class="btn-danger btn">Follow </button> |
      <button class="btn-success btn">Profile</button>
    </div>
  </div>
    <div class="card" style="width: 18rem;float:left;margin-right:1%;margin-bottom: 1%;">
    <div class="card-body">
      <h5 class="card-title text-center">Charlie</h5>
      <p class="card-text">Som make up the bulk of the card's content.</p>
      <button class="btn-danger btn">Follow </button> |
      <button class="btn-success btn">Profile</button>
    </div>
  </div>

    <div class="card" style="width: 18rem;float:left;margin-right:1%;margin-bottom: 1%;">
      <div class="card-body">
        <h5 class="card-title text-center">Charlie</h5>
        <p class="card-text">Som make up the bulk of the card's content.</p>
        <button class="btn-danger btn">Follow </button> |
        <button class="btn-success btn">Profile</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;float:left;margin-right:1%;margin-bottom: 1%;">
      <div class="card-body">
        <h5 class="card-title text-center">Charlie</h5>
        <p class="card-text">Som make up the bulk of the card's content.</p>
        <button class="btn-danger btn">Follow </button> |
        <button class="btn-success btn">Profile</button>
      </div>
    </div>
  </div>
</div>
