<div class="container-fluid">
  <h1 class="text-center"> News Feed</h1>
  <hr>
</div>
<div>
  <table>
    <tr>
      <td>
        <h3> Public | </h3>
      </td>
      <td>
        <h3>ABCD : </h3>
      </td>
      <td>
        <h5>
          I want to sell 2 Tickets
        </h5>
      </td>
    </tr>


  </table>
</div>
<hr>
<div class="form-group">
  <label for="comment">Comment:</label>
  <textarea class="form-control col-4" rows="2" id="comment"></textarea>
</div>
<button class="btn btn-primary">
  Comment
</button>

<hr>
