<div class="container-fluid col-lg-12">
  <h1 class="container-fluid text-center">Tele Connect</h1>
  <hr>
  <div class="col-lg-12">
    <a routerLink="/home">Home |</a>
    <a *ngIf="strlen===0" routerLink="/login"> Login |</a>
    <a *ngIf="strlen===1" routerLink="/profile"> Profile |</a>
    <a *ngIf="strlen===0" routerLink="/register"> Register |</a>
    <a *ngIf="isAdmin()" routerLink="/admin"> Admin Panel |</a>
    <!--<a routerLink="/discover"> Different Genre |</a>-->
    <a routerLink="/newShows"> Trending Movies |</a>
    <a routerLink="/users"> Active Users </a>
    <!--<a routerLink="/feed"> News Feeds |</a>-->
    <!--<a routerLink="/movies"> Movies |</a>-->
    <button *ngIf="strlen===1" class="btn btn-danger float-right" (click)="logout()">
      <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
    </button>
    </div>
  <hr>
  
  <router-outlet>

  </router-outlet>
</div>




