<div class="container-fluid col-lg-12">
  <h1 class="container-fluid text-center">Tele Connect</h1>
  <hr>
  <div class="col-lg-12">
    <a routerLink="/home">Home</a> |
    <a routerLink="/login">Login</a> |
    <a routerLink="/profile">Profile</a> |
    <a routerLink="/register">Register</a> |
    <a routerLink="/discover">Different Genere</a> |
    <a routerLink="/newShows">Trending Movies</a> |
    <a routerLink="/users">Active Users</a> |
    <a routerLink="/feed">News Feeds</a> |
    <a routerLink="/movies">Movies</a>
    </div>
  <hr>
  <div>
    <ul class="nav">
    <li class="nav-item col-lg-8">
      <input [(ngModel)]="username"  class="form-control " placeholder=" Search Query"/>
    </li>
    <li class="nav-item col-lg-4">
      <button class="btn-primary btn">Search</button>
    </li>
    </ul>
  </div>
  <hr>
  <router-outlet>

  </router-outlet>
</div>




