<div class="container-fluid">
  <h1 class="text-center">{{tvShowName}}</h1>
  <hr>
  <img src="https://image.tmdb.org/t/p/w780/{{tvShowImage}}" class="img-fluid" alt="Responsive image">
  <hr>
  <p>
    {{tvShowDetails}}
  </p>

  <div *ngIf="isFavourite === 1">
    <hr>
    <button (click)="addFavourite()" class="btn btn-success">
      Add to Favourites
    </button>
  </div>

  <div *ngIf="isFavourite === 0">
    <hr>
    <button (click)="removeFavourite()" class="btn btn-danger">
      Remove from Favourites
    </button>
  </div>

  <hr>
  <h3>TV Series Details</h3>
  <table>
    <tr>
      <td class="">
        <h5>Name : </h5>
      </td>
      <td>
        <h5>{{tvShowName}}</h5>
      </td>
    </tr>
    <tr>
      <td class="">
        <h5>Episode Count : </h5>
      </td>
      <td>
        <h5>{{episodeCount}}</h5>
      </td>
    </tr>
    <tr>
      <td class="">
        <h5>Season Count : </h5>
      </td>
      <td>
        <h5>{{seasonCount}}</h5>
      </td>
    </tr>
    <tr>
      <td class="">
        <h5>Status : </h5>
      </td>
      <td>
        <h5>{{status}}</h5>
      </td>
    </tr>
  </table>
  <hr>

  <!--<div>-->
  <!--<table>-->
  <!--<tr>-->
  <!--<td>-->
  <!--<h3> Private | </h3>-->
  <!--</td>-->
  <!--<td>-->
  <!--<h3>User 1 : </h3>-->
  <!--</td>-->
  <!--<td>-->
  <!--<h6>-->
  <!--The Marvel Cinematic Universe became the first film franchise to gross more than $14 billion with the-->
  <!--release of Black Panther-->
  <!--</h6>-->
  <!--</td>-->

  <!--</tr>-->


  <!--</table>-->
  <!--</div>-->

  <!--<hr>-->
  <div class="form-group">
    <h3 for="comment">Comment:</h3>
    <div class="row" *ngFor="let comment of commentsForSeries">
      <div class="col-md-2"><a href="/profile/{{comment.user._id}}">
        {{comment.user.username}}
      </a></div>
      <div class="col-md-10">
        {{comment.comment}}
      </div>
    </div>
    <hr>
    <textarea class="form-control col-4" rows="2" [(ngModel)]="comment"></textarea>
  </div>
  <button (click)="postComment()" class="btn btn-primary">
    Comment
  </button>

  <hr>
</div>
