<div class="container">
  <h2> Profile </h2>
  <div style="text-align: right">
    <a class="btn btn-danger" (click)="logout()">
      <i class="fa fa-sign-out" aria-hidden="true"></i>Logout
    </a>
  </div>

  <div>
    <label for="name" class="fields">Username</label>
    <input [(ngModel)]="username" placeholder="Username" id="name"  class="form-control form-control-lg" readonly required/>
  </div>

  <div>
    <label for="fName" class="fields">Firstname</label>
    <input [(ngModel)]="firstName" placeholder="First Name" id="fname" class="form-control form-control-lg" required/>
  </div>

  <div>
    <label for="lname" class="fields">LastName</label>
    <input [(ngModel)]="lastName" placeholder="Last Name" id="lname" class="form-control form-control-lg" required/>
  </div>

  <div>
    <label for="password" class="fields">Password</label>
    <input [(ngModel)]="password" placeholder="password" id="password" type="password" class="form-control form-control-lg" required/>
  </div>

  <div>
    <label for="verifyPassword" class="fields">VerifyPassword</label>
    <input [(ngModel)]="verifyPassword" placeholder="verify password" id="verifyPassword" type="password" class="form-control form-control-lg" required/>
  </div>

  <div>
    <label for="email" class="fields">Email</label>
    <input [(ngModel)]="email" placeholder="email@abc.com" id="email" class="form-control form-control-lg" required/>
  </div>
<br><br>
  <div>
    <button (click)="update()" class="btn btn-lg btn-primary btn-block">
      <i class="fa fa-check wbdv-update"></i>Update
    </button>
  </div>
</div>
<hr>
<h1>Favourite Movies</h1>
<hr>
<div class="container-fluid">
  <div class="row">
    <div *ngFor="let tvshow of tvshows" class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{tvshow.poster_path}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{tvshow.name}}</h4>
          <h5>Air Date: {{tvshow.first_air_date}} Votes: {{tvshow.vote_count}} </h5>
          <a routerLink="/movies/{{tvshow.id}}" class="btn btn-primary">Review</a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<h1>Followers</h1>
<hr>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center">ABC</h5>
    <p class="card-text">Som make up the bulk of the card's content.</p>
  </div>
</div>
<div>
  <a routerLink="/userComments"> see my comments </a>
</div>
<hr>
