<h1>Profile</h1>
<hr>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center">Alice</h5>
    <table>
      <tbody>
      <tr>
        <td>Username : </td>
        <td> Aryan123</td>
      </tr>
      <tr>
        <td>Firstname : </td>
        <td> Aryan</td>
      </tr>
      <tr>
        <td>Lastname : </td>
        <td> Ahuja</td>
      </tr>
      <tr>
        <td>Role : </td>
        <td>Viewer</td>
      </tr>
      </tbody>
    </table>
    <button class="btn-success btn">
      Update
    </button>
  </div>
</div>
<hr>
<h1>Favourite Movies</h1>
<hr>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center">ABC</h5>
    <p class="card-text">Som make up the bulk of the card's content.</p>
  </div>
</div>
<hr>
<h1>Followers</h1>
<hr>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title text-center">ABC</h5>
    <p class="card-text">Som make up the bulk of the card's content.</p>
  </div>
</div>
<hr>

