<div class="container-fluid">
  <div class="row">
    <div *ngFor="let tvshow of tvshows" class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="https://image.tmdb.org/t/p/w300{{tvshow.poster_path}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{tvshow.name}}</h4>
          <h5>Air Date: {{tvshow.first_air_date}} Votes: {{tvshow.vote_count}} </h5>
          <a routerLink="/movies/{{tvshow.id}}" class="btn btn-primary">Review</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-3">&nbsp;</div>
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item">
          <!--// TODO add page num here-->
          <a class="page-link"  tabindex="-1">Previous</a>
        </li>
        <!--TODO Pagination for number of results-->
        <li *ngFor="let pageNum of [1,2,3,4]" [ngClass]="{'active': currentPageNum == pageNum}" class="page-item">
          <a class="page-link"  (click)="paginate(pageNum)">{{pageNum}}</a>
        </li>
        <li class="page-item">
          <!--// TODO add page num here-->
          <a class="page-link">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
