<div class="container-fluid">
  <h1>{{user.username}}'s Profile</h1>
  <!--(click)="Follow()">-->
  <button *ngIf="!followingFlag" (click)="followUser(userId)" class="btn btn-success">Follow</button>
  <button *ngIf="followingFlag" (click)="unfollowUser(userId)" class="btn btn-danger">Unfollow</button>
  <hr>
  <h3>Comments</h3>
  <hr>
  <h5><a routerLink="/userComments/{{userId}}">See all comments of {{user.username}}</a></h5>
  <hr>
  <h3>Favourite Movies</h3>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let tvshow of tvshows" class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <a routerLink="/movies/{{tvshow._id}}">{{tvshow.name}}</a>
            </h4>
            <h5>Votes: {{tvshow.vote_average}} </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h3>Followers</h3>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let follower of follower_users" class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <!--<a (click)="userProfile(follower._id)">{{follower.username}}</a>-->
              <a routerLink="/profile/follower/{{follower._id}}">{{follower.username}}</a>
              <!--<h3><span class="badge badge-primary" (click)="userProfile(follower._id)">-->
                <!--{{follower.username}}</span></h3>-->
            </h4>
            <h5>Mail: {{follower.email}} </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h3>Following</h3>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let following of following_users" class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <a routerLink="/profile/following/{{following._id}}">{{following.username}}</a>
              <!--<h3><span class="badge badge-primary" (click)="userProfile(following._id)">-->
                <!--{{following.username}}</span></h3>-->
            </h4>
            <h5>Mail: {{following.email}} </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
