<div class="container-fluid">
  <a class="btn btn-lg btn-secondary" routerLink="/home"><i class="fas fa-home"></i></a>
  <h1>Register</h1>

  <input [(ngModel)]="username" placeholder="username" class="form-control"/><br>
  <input [(ngModel)]="password" placeholder="password" type="password" class="form-control"/><br>
  <input [(ngModel)]="verifyPassword" placeholder="verify password" type="password" class="form-control"/><br>
  <button (click)="register(username, password, verifyPassword)" class="btn btn-lg btn-primary btn-block">
    Register
  </button>
  <a routerLink="/login" class="btn btn-lg btn-block btn-success">
    <i class="fa fa-sign-in" aria-hidden="true"></i>Login
  </a>
</div>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous">
